@use "variables" as *;





h1{
  // background-color: red;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $nav-font-family;
  font-weight: $nav-font-weight;
}



@media (max-width: 768px){
h1{
  margin-top: -15%;
}
}