@use "variables" as *;



.fix-certificate-mobile{
  display: none;
}








@media (max-width: 768px){

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: red; /* Change the navigation icon color to red */
  border-radius: 50%; /* Make it rounded */
  padding: 10px; /* Add padding for better visibility */
}


.fix-certificate-mobile{
  display: block;
  text-align: center;
  color: white;
  padding-top: -20%;
  font-style: $nav-font-family;
  font-family: $nav-font-family;
  font-size:1.5em;
  font-weight: bold;
}





}